<!DOCTYPE html>
<html lang ="en">
<head>
<title>Admin Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <form action="/Admin" method="POST">
            <h3>Add new Admin to the system</h3>
            <label for="title">Username</label>
            <br>
            <input type="text" id="Username" name="Username" required>
            <br>
            <label for="title">Password</label>
            <br>
            <input type="text" id="Password" name="Password" required>
            <br>
            <br>
            <button name="addButton" value='form1'>Add new Admin</button>
            <hr>
        </form>
    </div>

    <div>
        <form action="/Admin" method="POST">
            <h3>Add new Instructor to the system</h3>
            <label for="title">Username</label>
            <br>
            <input type="text" id="Username" name="Username" required>
            <br>
            <label for="title">Password</label>
            <br>
            <input type="text" id="Password" name="Password" required>
            <br>
            <br>
            <button  name="addButton" value='form2'>Add new Instructor</button>
            <hr>
        </form>
    </div>

    <div>
        <form action="/Admin" method="POST">
            <h3>Add new corporate trainee to the system</h3>
            <label for="title">Username</label>
            <br>
            <input type="text" id="Username" name="Username" required>
            <br>
            <label for="title">Password</label>
            <br>
            <input type="text" id="Password" name="Password" required>
            <br>
            <br>
            <button name="addButton" value='form3'>Add new Coraporate trainee</button>
            <hr>
        </form>
    </div>
</body>